body {
    background-color: #1e1e1e;
}

h1, h2, h3, p, span, a, form {
    color: white;
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

.nav-bar-style {
    padding: 10px;
}

.nav-link {
    font-size: 24px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 18px;
}

.left, .right {
    flex: 0 1 auto;
}

.default-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
    max-width: 800px;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;

    box-sizing: border-box;
    margin: 10px;
}